<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  
  <appSettings>
    <add key="googlemaps.subgurim.net" value="AIzaSyDomdvURRQgNxtJCuOe47Lpu7MaKdq3bQ4" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=localhost;Database=miamiandmiami;user=root;password=1234" providerName="MySql.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    
    <httpRuntime />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <urlMappings enabled="true">
      <add url="~/Aboutus" mappedUrl="~/Indexpage.aspx?page=Aboutus"/>
      <add url="~/Events" mappedUrl="~/Indexpage.aspx?page=Events"/>
      <add url="~/FunandLeisure" mappedUrl="~/Indexpage.aspx?page=FunandLeisure"/>
      <add url="~/HotelsPartner" mappedUrl="~/Indexpage.aspx?page=HotelsPartner"/>
      <add url="~/MiamiBeachRestaurants" mappedUrl="~/Indexpage.aspx?page=MiamiBeachRestaurants"/>
      <add url="~/MiamiShopping" mappedUrl="~/Indexpage.aspx?page=MiamiShopping"/>
      <add url="~/VacationRentals" mappedUrl="~/Indexpage.aspx?page=VacationRentals"/>
      <add url="~/MiamiSale" mappedUrl="~/Indexpage.aspx?page=MiamiSale"/>
      <add url="~/VisitMiami" mappedUrl="~/Indexpage.aspx?page=VisitMiami"/>
      <add url="~/News" mappedUrl="~/Indexpage.aspx?page=News"/>
      <add url="~/TermsAndConditions" mappedUrl="~/Indexpage.aspx?page=TermsAndConditions"/>
      <add url="~/ContactUs" mappedUrl="~/ContactUs.aspx"/>
      <add url="~/FAQ" mappedUrl="~/Indexpage.aspx?page=FAQ"/>
      <add url="~/SiteMap" mappedUrl="~/Indexpage.aspx?page=SiteMap"/>
      <add url="~/Birds" mappedUrl="~/Indexpage.aspx?page=Birds"/>
      <add url="~/Testimonials" mappedUrl="~/Testimonials.aspx"/>
      <add url="~/change-credentials" mappedUrl="~/ChangePassword.aspx"/>
      <add url="~/ListingHotel" mappedUrl="~/HotelListing.aspx"/>
      <add url="~/ListingPackage" mappedUrl="~/PackageListing.aspx"/>
      
    </urlMappings>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
